body{
    text-align: center;
}
html {
    scroll-behavior: smooth;
}
#marqueeStyle{
    background-color: blue;
    color: white;
}
.my_nav_bar{
    position: sticky;
    top: 0px;
    z-index: 99999;
}
#video{
    width: 100%;
    height: 500px;
    border: none;
}
#map iframe{
    width: 50%;
}

